.container {
  display: block;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px dotted var(--main-border-color);
  text-decoration: none;
  color: var(--main-text-color);
}

.title {
  display: block;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.description {
  font-size: 16px;
  color: var(--main-subtitle-color);
  margin: 5px 0 0;
}
