:root {
  --main-title-color: #2f3d4f;
  --main-subtitle-color: #38485d;
  --main-text-color: #2f3d4f;
  --main-background-color: #fdfdfd;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  background: var(--main-background-color);
  font-family: var(--main-font);
}

.sectionPreview {
  width: 100%;
  height: 300px;
  background: url('/preview.png') no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.sectionPreview .text {
  z-index: 5;
  font-size: 18px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  background: #fff;
  background: linear-gradient(0deg, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 0%) 100%);
}

@media (width >= 768px) {
  .sectionPreview .text {
    font-size: 22px;
  }
}

.sectionPreview .text p {
  margin: 0;
}

.sectionPreview .icon {
  height: 18px;
  width: auto;
}

.sectionPreview .link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-title-color);
  font-weight: bold;
  margin-left: 6px;
  border-bottom: 1px dotted transparent;
  transition: 0.2s all linear;
}

.sectionPreview .link:hover {
  border-bottom-color: var(--main-title-color);
}

.socialLinks {
  margin: 50px 0;
  padding: 0;
  gap: 36px;
  display: flex;
  justify-content: center;
}

.socialLinks li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialLinks svg {
  width: auto;
  height: 32px;
  color: var(--main-text-color);
}
