.header {
  composes: container from '~/components/Container/styles.module.css';
  margin: 16px auto 40px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;

  @media (width >= 760px) {
    margin: 40px auto;
  }
}

.header a {
  text-decoration: none;
}
